<!DOCTYPE suite SYSTEM
        "https://testng.org/testng-1.0.dtd">
<suite name="Selector Hub Suite to Practise">
    <test name="Disabled TextField">

        <classes>
            <class name="runner.TestRunner"/>
<!--             <class name="runner.TestRunner"/>-->
        </classes>
    </test>
</suite>